<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div id="app">
		<div>
		<template v-if="show">
			<h1>hhhh</h1>
			<p>pppp</p>
		</template>
			<p>dasdasd</p>
			没有DOM结构 不频繁切换
		</div>
		<!-- <div v-else>
			<p>dasdasd</p>
			v-else智能在v-if后面用
		</div>
		<div v-show="show">
			<p>eqweqwe</p>
			还有DOM结构   频繁切换
		</div> -->
		标签混合循环 一行P一行H 为了不影响代码结构
		@keyup.enter 回车事件   @keyup.65.65 = "add"   @keyup.shift 按住shift再按别的触发
		<template v-for="n in 3">
			<p>111</p>
			<h2>222</h2>
		</template>
	</div>
	<script src="vue.js"></script>
	<script>
		var vm = new Vue({
			el:'#app',//一个作用域范围
			data:{
				msg:'123',//相当于变量
				aa:'',
				arr:[1,2,3,4,5],
				show:false
			}
		});
	</script>
</body>
</html>